# LaTeX auxiliary files
*.aux
*.bcf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv

# Glossaries / acronyms
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls

# Build intermediates
*.dvi
*.ps

# codex
.codex
